@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:768px) {
    main{
        margin-top: 25px;
    }
}

/* globals.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer{
  margin-top: auto;
}
/* Custom styles for the select dropdown */


/* .main{
  min-height: 100vh;
  flex: 1;
}
.main {
  display: flex;
  flex-direction: column;
} */





.product-list-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .product-list-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

 
  